**API**

In [1]:
import pandas as pd
import requests

In [2]:
df = pd.read_csv("data/youtube.csv")
df.head()

,Title,Videourl,Category,Description
0,Madagascar Street Food!!! Super RARE Malagasy ...,/watch?v=EwBA1fOQ96c,Food,üé•GIANT ALIEN SNAIL IN JAPAN! ¬ª https://youtu.b...
1,42 Foods You Need To Eat Before You Die,/watch?v=0SPwwpruGIA,Food,This is the ultimate must-try food bucket list...
2,Gordon Ramsay‚Äôs Top 5 Indian Dishes,/watch?v=upfu5nQB2ks,Food,We found 5 of the best and most interesting In...
3,How To Use Chopsticks - In About A Minute üçú,/watch?v=xFRzzSF_6gk,Food,You're most likely sitting in a restaurant wit...
4,Trying Indian Food 1st Time!,/watch?v=K79bXtaRwcM,Food,HELP SUPPORT SINSTV!! Shop Our Sponsors!\nLast...

In [3]:
import os 
from dotenv import load_dotenv

load_dotenv()

True

In [4]:
token = os.getenv("YOUTUBE_APIKEY")

In [5]:
id_ = df.Videourl[0]
id_

'/watch?v=EwBA1fOQ96c'

In [6]:
id_ = id_.split('=')[1]

In [7]:
#definimos la url de la request 

endpoint = "https://www.googleapis.com/youtube/v3/videos"

#parametros

params = {'part':'contentDetails',
         'id': id_,
         'key': token}

In [8]:
res = requests.get(endpoint,params)

In [9]:
res.status_code

200

In [10]:
res.json()

{'kind': 'youtube#videoListResponse',
 'etag': '0zcuVm7JVaTPS09esJ15cCuihZQ',
 'items': [{'kind': 'youtube#video',
   'etag': 'IQITEUl6cBsuX06yFZXn3TAS4Qc',
   'id': 'EwBA1fOQ96c',
   'contentDetails': {'duration': 'PT15M44S',
    'dimension': '2d',
    'definition': 'hd',
    'caption': 'true',
    'licensedContent': True,
    'contentRating': {},
    'projection': 'rectangular'}}],
 'pageInfo': {'totalResults': 1, 'resultsPerPage': 1}}

In [11]:
df.head(1)

,Title,Videourl,Category,Description
0,Madagascar Street Food!!! Super RARE Malagasy ...,/watch?v=EwBA1fOQ96c,Food,üé•GIANT ALIEN SNAIL IN JAPAN! ¬ª https://youtu.b...

In [12]:
df['id_'] = df['Videourl'].apply(lambda x: x.split('=')[1])

In [13]:
df.head(1)

,Title,Videourl,Category,Description,id_
0,Madagascar Street Food!!! Super RARE Malagasy ...,/watch?v=EwBA1fOQ96c,Food,üé•GIANT ALIEN SNAIL IN JAPAN! ¬ª https://youtu.b...,EwBA1fOQ96c

In [14]:
def request_youtube(id_video):
    
    token = os.getenv("YOUTUBE_APIKEY")
                    
    endpoint = "https://www.googleapis.com/youtube/v3/videos"
    
    params = {'part':'contentDetails',
         'id': id_video,
         'key': token}
    
    res = requests.get(endpoint, params)
    
    if res.status_code == 200:
        return res.json()
    else:
        pass

In [15]:
df_copy = df.sample(100)

In [16]:
#aplicamos resultado

resultado = []

for ids in df_copy['id_']:
    resultado.append(request_youtube(ids))

In [17]:
resultado[0]

{'kind': 'youtube#videoListResponse',
 'etag': 'Z-h6Von_M9HxfFJOiuyPEhGrVPQ',
 'items': [{'kind': 'youtube#video',
   'etag': 'tniXuUau1xLMyHF8_pG2wY1J9PQ',
   'id': 'fdQ60ZzsVR8',
   'contentDetails': {'duration': 'PT19M5S',
    'dimension': '2d',
    'definition': 'hd',
    'caption': 'true',
    'licensedContent': True,
    'contentRating': {},
    'projection': 'rectangular'}}],
 'pageInfo': {'totalResults': 1, 'resultsPerPage': 1}}

In [18]:
youtube = pd.DataFrame(resultado)

In [19]:
youtube.head(2)

,kind,etag,items,pageInfo
0,youtube#videoListResponse,Z-h6Von_M9HxfFJOiuyPEhGrVPQ,"[{'kind': 'youtube#video', 'etag': 'tniXuUau1x...","{'totalResults': 1, 'resultsPerPage': 1}"
1,youtube#videoListResponse,Z2UL2D_AnuMdTTwwAtEawo13PsA,"[{'kind': 'youtube#video', 'etag': 'ibhYWJPHil...","{'totalResults': 1, 'resultsPerPage': 1}"

In [20]:
youtube['items'][0]

[{'kind': 'youtube#video',
  'etag': 'tniXuUau1xLMyHF8_pG2wY1J9PQ',
  'id': 'fdQ60ZzsVR8',
  'contentDetails': {'duration': 'PT19M5S',
   'dimension': '2d',
   'definition': 'hd',
   'caption': 'true',
   'licensedContent': True,
   'contentRating': {},
   'projection': 'rectangular'}}]

In [21]:
content = []

for value in youtube['items']:
    try:
        content.append(value[0]['contentDetails'])
    except:
        pass

In [22]:
x = pd.DataFrame(content)
x.head(1)

,duration,dimension,definition,caption,licensedContent,contentRating,projection,regionRestriction
0,PT19M5S,2d,hd,true,True,{},rectangular,NaN

In [23]:
def sacar_info(col):
    '''
    Extrae la informaci√≥n que necesitamos de un diccionario
    Args: 
        col (str): el nombre de la columna sobre la que queremos aplicar la funci√≥n
    Returns: 
        el diccionario con la informaci√≥n que queremos
    '''
    try:
        return  col[0]["contentDetails"]
    except: 
        pass

In [24]:
youtube['Details'] = youtube['items'].apply(sacar_info) #estos son los content details de los items

In [25]:
youtube.head(1)

,kind,etag,items,pageInfo,Details
0,youtube#videoListResponse,Z-h6Von_M9HxfFJOiuyPEhGrVPQ,"[{'kind': 'youtube#video', 'etag': 'tniXuUau1x...","{'totalResults': 1, 'resultsPerPage': 1}","{'duration': 'PT19M5S', 'dimension': '2d', 'de..."

In [26]:
#separamos en diferentes columnas!!!!!!!!!!

youtube['Details'].apply(pd.Series)

,duration,dimension,definition,caption,licensedContent,contentRating,projection,regionRestriction
0,PT19M5S,2d,hd,true,True,{},rectangular,NaN
1,PT4M56S,2d,hd,false,False,{},rectangular,NaN
2,PT10M25S,2d,hd,false,True,{},rectangular,NaN
3,PT12M18S,2d,hd,false,True,{},rectangular,NaN
4,PT3M22S,2d,hd,true,True,{},rectangular,NaN
...,...,...,...,...,...,...,...,...
95,PT56M18S,2d,sd,false,False,{},rectangular,NaN
96,PT2M44S,2d,sd,true,True,{},rectangular,NaN
97,PT2M17S,2d,hd,false,False,{},rectangular,NaN
98,PT7M25S,2d,hd,true,True,{},rectangular,NaN
99,PT6M28S,2d,hd,true,True,{},rectangular,NaN

In [27]:
youtube[['duration', 'dimension', 'definition', 'caption', 'licensedContent',
       'contentRating', 'projection', 'regionRestriction']] = youtube['Details'].apply(pd.Series)

In [28]:
youtube.head(2)

,kind,etag,items,pageInfo,Details,duration,dimension,definition,caption,licensedContent,contentRating,projection,regionRestriction
0,youtube#videoListResponse,Z-h6Von_M9HxfFJOiuyPEhGrVPQ,"[{'kind': 'youtube#video', 'etag': 'tniXuUau1x...","{'totalResults': 1, 'resultsPerPage': 1}","{'duration': 'PT19M5S', 'dimension': '2d', 'de...",PT19M5S,2d,hd,true,True,{},rectangular,NaN
1,youtube#videoListResponse,Z2UL2D_AnuMdTTwwAtEawo13PsA,"[{'kind': 'youtube#video', 'etag': 'ibhYWJPHil...","{'totalResults': 1, 'resultsPerPage': 1}","{'duration': 'PT4M56S', 'dimension': '2d', 'de...",PT4M56S,2d,hd,false,False,{},rectangular,NaN

In [29]:
youtube.drop(['items', 'pageInfo', 'Details','contentRating' ], axis = 1, inplace = True)

In [30]:
youtube.head(2)

,kind,etag,duration,dimension,definition,caption,licensedContent,projection,regionRestriction
0,youtube#videoListResponse,Z-h6Von_M9HxfFJOiuyPEhGrVPQ,PT19M5S,2d,hd,true,True,rectangular,NaN
1,youtube#videoListResponse,Z2UL2D_AnuMdTTwwAtEawo13PsA,PT4M56S,2d,hd,false,False,rectangular,NaN

In [31]:
final_youtube = pd.concat([df, youtube], axis = 1)

In [32]:
final_youtube.head(2)

,Title,Videourl,Category,Description,id_,kind,etag,duration,dimension,definition,caption,licensedContent,projection,regionRestriction
0,Madagascar Street Food!!! Super RARE Malagasy ...,/watch?v=EwBA1fOQ96c,Food,üé•GIANT ALIEN SNAIL IN JAPAN! ¬ª https://youtu.b...,EwBA1fOQ96c,youtube#videoListResponse,Z-h6Von_M9HxfFJOiuyPEhGrVPQ,PT19M5S,2d,hd,true,True,rectangular,NaN
1,42 Foods You Need To Eat Before You Die,/watch?v=0SPwwpruGIA,Food,This is the ultimate must-try food bucket list...,0SPwwpruGIA,youtube#videoListResponse,Z2UL2D_AnuMdTTwwAtEawo13PsA,PT4M56S,2d,hd,false,False,rectangular,NaN