In [1]:
expresion = True

if expresion == True:
    print("condición cierta")

condición cierta

In [2]:
if expresion:
    print("condición cierta")

condición cierta

In [3]:
temperatura = int(input("Qué temperatura hace?"))

Qué temperatura hace?1

In [4]:
if temperatura < 4:
    print("hace frío")

hace frío

In [5]:
temperatura_max = int(input("max"))

max1

In [6]:
temp_min = int(input("min"))

min1

In [7]:
if temperatura_max <= 15 and temp_min < 6:
    print("hace frio")

hace frio

In [8]:
if temperatura_max <= 15 or temp_min > 6:
    print("hace frio")

hace frio

In [9]:
import string

In [10]:
letras = string.ascii_lowercase

In [11]:
print(letras)

abcdefghijklmnopqrstuvwxyz

In [12]:
caracter = input("pasa un caracter")

pasa un caracter1

In [13]:
if caracter in letras:
    print("es una letra")

In [14]:
#mayuscula

if caracter.lower() in letras:
    print(caracter.lower())
    print("letra")

In [15]:
#if... else

temp = float(input("Que temperatura hace hoy?"))

Que temperatura hace hoy?1

In [16]:
if temp < 15:
    print("friiio😊")
else:
    print("calor")

friiio😊

In [17]:
palabra = "abedul"

if palabra[0].lower() == "a":
    print("empieza por a")
else:
    print("no")

empieza por a

In [18]:
#otra opcion
palabra = "abedul"

if palabra.startswith("a"):
    print("empieza por a")
else:
    print("no")

empieza por a

In [19]:
#edad de usuario

edad = int(input("edad"))

edad1

In [20]:
if edad >= 18:
    print("pasa")
else:
    print("a casa")

a casa

In [21]:
#if buckle

temp2 = float(input("temp"))

temp1

In [22]:
if temp2 > 15:
    print(f"la temperatura es {temp2} y have mucho frio")

In [23]:
if temp2 > 15:
    temp2 *= 2 #el *= sustituye el x2.. temp2 = el nuevo variable
    print(temp2)

In [24]:
#NESTED IF - every IF needs to have it correspondent ELSE

edad = int(input("edad? "))

edad? 1

In [25]:
if edad >= 18:
    print("pasa")
else:
    if edad >= 10:
        print("light")
    else:
        print("a casa")

a casa

In [26]:
#IF ELIF ELSE 

temp3 = float(input("temp"))

temp2

In [27]:
if temp3 > 15:
    print("calorsito")
elif temp3 > 2 and temp3 < 15:
    print("fresco")
else:
    print("mucho frio")

mucho frio

In [28]:
#ejemplo del de la disco pero usando elif
edad2 = int(input("edad? "))

edad? 12

In [29]:
if edad2 > 18:
    print("pasa")
elif edad2 > 10:
    print("light")
else:
    print("casa")

light

In [30]:
#FOR and WHILE loops
#WHILE - mientras x no "cosa" entonces ... 
ciudades = ['Madrid', 'Paris', 'Varsovia', 'Londres', 'Barcelona', 'Casablanca', 'Berlin', 'Kenia', 'Zaragoza', 'Metz', 'Roma', 'Tokio' ]
print(ciudades)

['Madrid', 'Paris', 'Varsovia', 'Londres', 'Barcelona', 'Casablanca', 'Berlin', 'Kenia', 'Zaragoza', 'Metz', 'Roma', 'Tokio']

In [31]:
#FOR
for x in ciudades:
    print("estoy iterando por: ", x, "y su longitud es de ", len(x))
   # print(x.upper())
   # print("\n") #espacio entre líneas

estoy iterando por:  Madrid y su longitud es de  6
estoy iterando por:  Paris y su longitud es de  5
estoy iterando por:  Varsovia y su longitud es de  8
estoy iterando por:  Londres y su longitud es de  7
estoy iterando por:  Barcelona y su longitud es de  9
estoy iterando por:  Casablanca y su longitud es de  10
estoy iterando por:  Berlin y su longitud es de  6
estoy iterando por:  Kenia y su longitud es de  5
estoy iterando por:  Zaragoza y su longitud es de  8
estoy iterando por:  Metz y su longitud es de  4
estoy iterando por:  Roma y su longitud es de  4
estoy iterando por:  Tokio y su longitud es de  5

In [32]:
ciudades_peque = []
ciudades_grande = []

for x in ciudades:
    if len(x) > 7:
        ciudades_grande.append(x)
    else:
        ciudades_peque.append(x)
        
print(ciudades_peque)
print(ciudades_grande)

['Madrid', 'Paris', 'Londres', 'Berlin', 'Kenia', 'Metz', 'Roma', 'Tokio']
['Varsovia', 'Barcelona', 'Casablanca', 'Zaragoza']

In [33]:
for x in range(3):
    print(ciudades[x]) #asignar la x a los index de la lista, te da la ciudad.

Madrid
Paris
Varsovia

In [34]:
#DICCIONARIO

dicc = {'Lola': 34, 
       'Pepe': 45,
       'Laura': 7, 
       'Antonio': 23, 
       'Irene': 25, 
       "Rocio": 13, 
       'Lorenzo': 9}

In [35]:
for k, v in dicc.items():
    print(k, "--->",v)

Lola ---> 34
Pepe ---> 45
Laura ---> 7
Antonio ---> 23
Irene ---> 25
Rocio ---> 13
Lorenzo ---> 9

In [36]:
#sumar un año a todos

for k, v in dicc.items():
    dicc[k] = v + 1

print(dicc)

{'Lola': 35, 'Pepe': 46, 'Laura': 8, 'Antonio': 24, 'Irene': 26, 'Rocio': 14, 'Lorenzo': 10}

In [37]:
numeros = [13, 67, 88, 55, 54, 109, 200]

In [38]:
pares = []

for x in numeros:
    if x %2 == 0:
        pares.append(x)
    else:
        print(f'{x} es impar')
        
print(pares)

13 es impar
67 es impar
55 es impar
109 es impar
[88, 54, 200]

In [39]:
#WHILE 

dia =int(input("dia"))

dia12

In [40]:
while dia < 30:
    print(dia)
    dia += 1
    print(dia)
    print("-----")

12
13
-----
13
14
-----
14
15
-----
15
16
-----
16
17
-----
17
18
-----
18
19
-----
19
20
-----
20
21
-----
21
22
-----
22
23
-----
23
24
-----
24
25
-----
25
26
-----
26
27
-----
27
28
-----
28
29
-----
29
30
-----

In [41]:
#BREAK 

words = ['cat', 'window', 'defenestrate', 'car', 'arrow', 'hello']

In [42]:
for x in words:
    print(x) #aca es para que imprima abjo
    if "l" in x:
        #print(X) aca te saca "defenestrate"
        break
        #print(X) nada

cat
window
defenestrate
car
arrow
hello

In [43]:
#PASS

list_of_names = ['Mario','Alice', 'Bob', 'Jack', 'Mary', 'Manuel', 'Amanda', 'Ignacio', 'Fernando']

In [44]:
#si tiene "o" no pasa nada

for x in list_of_names:
    if "o" in x:
        pass
    else:
        print(x)

Alice
Jack
Mary
Manuel
Amanda

In [45]:
#enumerate
fruits = ['apple', 'banana', 'cherry']

for x, fruit in enumerate(fruits):
    print(x, "---->", fruit)
    print(fruits[x])

0 ----> apple
apple
1 ----> banana
banana
2 ----> cherry
cherry

In [46]:
#ZIP

nombres = ['Laura', 'Marta', 'Rocio']
apellidos = ['López', 'Casas', 'Pérez']

In [47]:
for n, a in zip(nombres, apellidos):
    print(n, "--->", a)

Laura ---> López
Marta ---> Casas
Rocio ---> Pérez

In [48]:
nombres = ['Laura', 'Marta', 'Rocio']
años = [1929, 1930, 1950, 1915]
bodas = [1967, 1950, 1977, 1927]

In [49]:
for nombre, año, boda in zip(nombres, años, bodas):
    print(nombre,":se casó con", boda-año, "años")

Laura :se casó con 38 años
Marta :se casó con 20 años
Rocio :se casó con 27 años

In [50]:
x = 0

for i in nombres:
    x += 1

print(x)

3

In [51]:
%%time
cuadrado = []
for i in range(5000):
    cuadrado.append(i ** 2)

Wall time: 1e+03 µs

In [52]:
palabras = ['data', 'science', 'machine', 'learning', 'math', 'python', 'code']

In [53]:
#tradicional

long = []

for x in palabras:
    long.append(len(x))
    
print(long)

[4, 7, 7, 8, 4, 6, 4]

In [54]:
#list comprehension - no se puede usar ELIF - SIEMPRE VA A APPENDEAR, Creo una lista desde cero a partir de otra lista.
#NO SE PUEDE USAR WHILE TAMPOCO 

long2 = [len(x) for x in palabras]
print(long2)

[4, 7, 7, 8, 4, 6, 4]

In [55]:
import random
num = random.sample(range(1,100),10)
print(num)

[22, 40, 8, 28, 53, 35, 29, 75, 58, 70]

In [56]:
#tradicional

cuadrados = []
for x in num:
    cuadrados.append(x ** 2)

In [57]:
print(cuadrados)

[484, 1600, 64, 784, 2809, 1225, 841, 5625, 3364, 4900]

In [58]:
#list comprehension

cuadrados2 = [i ** 2 for i in num]
print(cuadrados2)

[484, 1600, 64, 784, 2809, 1225, 841, 5625, 3364, 4900]

In [59]:
palabras

['data', 'science', 'machine', 'learning', 'math', 'python', 'code']

In [61]:
#tradicional
#reemplazar e con a
con_A = []

for i in palabras:
    if len(i) > 4:
        con_A.append(i.replace("e","A"))

con_A

['sciAncA', 'machinA', 'lAarning', 'python']

In [64]:
#list comprehension 
con_A2 = [i.replace("e","A") for i in palabras if len(i) > 4]
con_A2

['sciAncA', 'machinA', 'lAarning', 'python']

In [65]:
numeros = random.sample(range(1, 2000), 100)
print(numeros)

[890, 546, 561, 1342, 618, 801, 718, 958, 1686, 661, 1383, 254, 217, 1129, 1077, 61, 353, 897, 1778, 814, 1415, 162, 484, 933, 1333, 145, 1704, 802, 1066, 423, 577, 482, 893, 575, 1879, 1679, 574, 248, 700, 861, 912, 1521, 624, 1118, 1258, 454, 1693, 578, 1862, 1659, 1538, 733, 746, 1634, 1891, 1640, 192, 1933, 31, 1120, 1451, 609, 1259, 1603, 685, 737, 441, 1596, 1299, 1890, 1298, 1471, 93, 1073, 768, 1526, 483, 830, 240, 120, 1818, 1630, 1711, 815, 1749, 642, 1202, 1699, 1295, 1761, 1724, 735, 1371, 1401, 467, 1474, 1028, 844, 1914, 1552]

In [66]:
pares = []

for i in numeros:
    if i % 2 == 0:
        pares.append(i + 1)
print(pares)

[891, 547, 1343, 619, 719, 959, 1687, 255, 1779, 815, 163, 485, 1705, 803, 1067, 483, 575, 249, 701, 913, 625, 1119, 1259, 455, 579, 1863, 1539, 747, 1635, 1641, 193, 1121, 1597, 1891, 1299, 769, 1527, 831, 241, 121, 1819, 1631, 643, 1203, 1725, 1475, 1029, 845, 1915, 1553]

In [68]:
#list comprehension

pares_2 = [i + 1 for i in numeros if i % 2 == 0]
print(pares_2)

[891, 547, 1343, 619, 719, 959, 1687, 255, 1779, 815, 163, 485, 1705, 803, 1067, 483, 575, 249, 701, 913, 625, 1119, 1259, 455, 579, 1863, 1539, 747, 1635, 1641, 193, 1121, 1597, 1891, 1299, 769, 1527, 831, 241, 121, 1819, 1631, 643, 1203, 1725, 1475, 1029, 845, 1915, 1553]

In [73]:
#if..else en list comprehensions

palabras

['data', 'science', 'machine', 'learning', 'math', 'python', 'code']

In [74]:
#<4 corta
#>4 lrga
longi = []

for x in palabras:
    if len(x) > 4:
        longi.append("larga")
    else:
        longi.append("corta")
longi

['corta', 'larga', 'larga', 'larga', 'corta', 'larga', 'corta']

In [75]:
#list comprehension

longi_2 = ["larga" if len(x) > 4 else "corta" for i in palabras]
longi_2

['corta', 'corta', 'corta', 'corta', 'corta', 'corta', 'corta']

In [76]:
#aplanando listas de listas

lista_2d = [[1,2], [3,4,5,6,7], [8,9,10]]
lista_2d

[[1, 2], [3, 4, 5, 6, 7], [8, 9, 10]]

In [77]:
#UNA UNICA LISTA

#Tradicional
aplanada = []
for i in lista_2d:
    aplanada.extend(i)
aplanada

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [78]:
aplanada2 = []
for i in lista_2d:
    print(i)
    for z in i:
        print(z)
        aplanada2.append(z)
aplanada2

[1, 2]
1
2
[3, 4, 5, 6, 7]
3
4
5
6
7
[8, 9, 10]
8
9
10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [79]:
aplanada3 = [num for sublista in lista_2d for num in sublista]
aplanada3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]