In [1]:
#funciones
#estructura de codigo que nos ayudan a no repetir el código
#tiene que tener un return
#requiere argumento
#se puede gráficar, son universales

In [2]:
#BUILT in functions
type(len)

builtin_function_or_method

In [3]:
#sintaxis básico

def fahr_to_celcius(temp): #temp es parámetro
    return ((temp-32) * (5/9))

In [4]:
#variables locales

def mi_funcion():
    #variable local
    verdad = "me gusta python"
    return verdad

mi_funcion()

'me gusta python'

In [5]:
#variables globales

la_verdad = "python es el mejor lenguaje"

def mi_funcion2():
    return la_verdad

mi_funcion2()

'python es el mejor lenguaje'

In [6]:
def mi_funcion3(a):
    a = a * 2
    return a

mi_funcion3(la_verdad)
#aca lo que hace es reemplazar a por la_verdad, reemplazando la variable.

'python es el mejor lenguajepython es el mejor lenguaje'

In [7]:
def mi_funcion3():
    la_verdad = "Hola"
    return la_verdad

print(la_verdad)

python es el mejor lenguaje

In [8]:
mi_funcion3()

'Hola'

In [9]:
lst = [1,2,3,4]

def multiplicacion(lista):
    mult = []
    for i in lista:
        mult.append(i * 2)
    return mult

In [10]:
multiplicacion(lst)

[2, 4, 6, 8]

In [11]:
lst

[1, 2, 3, 4]

In [12]:
lst = multiplicacion(lst)

In [13]:
multiplicacion(lst)

[4, 8, 12, 16]

In [14]:
def multi(num):
    tabla = []
    for i in range(0,10):
        tabla.append(num * i)
    return tabla

In [15]:
multi(3)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [16]:
tabla3 = multi(3)
print(tabla3)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [17]:
def saludo(nombre):
    if len(nombre) > 4:
        return "Bienvenido"
    else:
        return "No te queremos aqui"

In [18]:
saludo("Ana")

'No te queremos aqui'

In [19]:
alumno_1 = 9
alumno_2 = 7

In [20]:
suma = alumno_1 + alumno_2
suma

16

In [21]:
media = suma / 2
media

8.0

In [22]:
def media(nota1, nota2):
    return (nota1 + nota2) / 2

In [23]:
media(1,5)

3.0

In [24]:
import math as mt
lista_notas = [6,7,3,9,5,5]

def media2(x):
    suma = sum(x)
    total = len(x)
    return suma/total 

media2(lista_notas)

5.833333333333333

In [25]:
suma = 0
for i in lista_notas:
    suma+= i
suma / len (lista_notas)

5.833333333333333

In [26]:
frase = "buenos días"

In [27]:
def mayus(x):
    return x.upper()

mayus(frase)

'BUENOS DÍAS'

In [28]:
frase = mayus(frase)

In [29]:
frase

'BUENOS DÍAS'

In [30]:
def suma(parametro1, parametro2):
    """
    Lo que hace la función
    Args: (los parámetros que recibe)
        parametro1 (tipo): que es
        parámetro2 (tipo): que es
    Returns: 
        Lo que nos devuelve la función
    """
    return parametro1 + parametro2

In [31]:
def cuadrado(x):
    """
    Calcula el cuadrado de un número que le pasemos
    Args: 
        x (int or float): el número que elevaremos al cuadrado
    Returns:
        int or float: el cuadrado del número que hemos pasado
    """
    return x ** 2

In [32]:
print(cuadrado.__doc__)

    Calcula el cuadrado de un número que le pasemos
    Args:
        x (int or float): el número que elevaremos al cuadrado
    Returns:
        int or float: el cuadrado del número que hemos pasado

In [33]:
cuadrado(5)

25

In [34]:
lst = [1,1,2,3,4,45,45,67,88,89]

In [35]:
def no_duplicados(jamon):
    return set(jamon)

In [36]:
no_duplicados(lst)

{1, 2, 3, 4, 45, 67, 88, 89}

In [37]:
def no_dup(jamon):
    unicos = []
    for i in jamon:
        if jamon.count(i) == 1:
            unicos.append(i)
    return unicos

no_dup(lst)

[2, 3, 4, 67, 88, 89]

In [38]:
#funciones sin parámetros

from datetime import datetime

In [39]:
now = datetime.today()

In [40]:
now

datetime.datetime(2022, 1, 22, 13, 17, 33, 564464)

In [41]:
def hoy():
    return datetime.today()

In [42]:
now.strftime("%A")

'Saturday'

In [43]:
now.strftime("%B")

'January'

In [44]:
#funciones que devuelven elementos

def desguazar (num1, num2):
    resultado = num1 // num2
    resto = num1 % num2 
    return resultado, resto

In [45]:
desguazar(23,5)

(4, 3)

In [46]:
import math as mt

In [47]:
mt.sqrt(64)

8.0

In [48]:
#almacenar resultado

jamon, broccoli = desguazar(23,5)

In [49]:
jamon

4

In [50]:
broccoli

3

In [51]:
#parametros por defecto

def buenos_dias (nombre, saludo = "buenos días"):
    frase = f"Hola {nombre} {saludo}"
    return frase

In [52]:
buenos_dias("Antonio")

'Hola Antonio buenos días'

In [53]:
def calculadora(num1,num2, operacion = "multiplicacion"):
    if operacion == "multiplicacion":
        return num1 * num2
    elif operacion == "suma":
        return num1 + num2

In [54]:
calculadora(2,3)

6

In [55]:
calculadora(2,3,"suma")

5

In [56]:
#ARGS Y KARGS!!!!!! Mega importante! 

#definimos una funcion que nos sume 3 numeros

def suma(a,b,c):
    return a + b + c
suma(1,2,3)

6

In [57]:
numeros = [1,2,3,4,6,23,6,213,12,52]

In [58]:
def suma2(*args):
    suma = 0
    for i in args:
        suma += i
    return suma

In [59]:
suma2(*numeros)

322

In [60]:
def suma3 (lista_):
    suma = 0
    for i in lista_:
        suma += i
    return suma

In [61]:
suma3(numeros)

322

In [62]:
for i in range(len(numeros)):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [63]:
#KWARGS!

diccionario = {'brocoli': 1.50, 
              'chorizo': 4.5, 
              'zanahoria': 1.30, 
              'jamon': 7.90}

In [64]:
def precio (**kwargs):
    for k, v in kwargs.items():
        print(k,"----->",v)

In [65]:
precio(**diccionario)

brocoli -----> 1.5
chorizo -----> 4.5
zanahoria -----> 1.3
jamon -----> 7.9

In [66]:
#SI JUNTAMOS ARGS CON KWARS!!!!

alimentos = ["broccoli", "chorizo"]
precios = [1.5,3]

In [67]:
##def (*args, **kwargs)

def precio3 (*args, **kwargs):
    total = []
    count = 0
    for k, v in kwargs.items():
        total.append(kwargs[k] * args[count])
        count += 1
    return sum(total)

In [68]:
precio3(2,1,0.5,4,**diccionario)

39.75

In [69]:
#RECURSIVIDAD 

def cuenta_atras(start):
    print(start)
    next_ = start - 1
    if next_ > 0:
        cuenta_atras(next_)

In [70]:
cuenta_atras(3)

3
2
1

In [71]:
#LAMBDA!!!!! List comprehension de funciones

#Visto de otra forma, la sintaxis de una lambda es:

#lambda parámetro_1, parámetro_2: action(parámetro_1, parámetro_2)

# también puede tener parámetros por defecto
#lambda parámetro_1, parámetro_2='valor_por_defecto': action(parámetro_1, parámetro_2)

In [73]:
lambda a,b: a+b

In [79]:
#funcion

def cuadrado(x):
    return x ** 2
print(cuadrado(5))

cuadrados2 = lambda x : x ** 2
print(cuadrados2(5))

25
25

In [87]:
#funcion original
def saludo (nombre, texto = "que tal estas?"):
    return f"{nombre}, {texto}"
print(saludo("Antonio"))

#lambda

saludo2 = lambda nombre, texto = "que tal estas?" : f"{nombre}, {texto}"
print(saludo2("Antonio"))

Antonio, que tal estas?
Antonio, que tal estas?

In [88]:
#lambda 2 parametros

def mult (a,b):
    return a*b
mult(2,4)

8

In [89]:
#lambda 
mulp2 = lambda a,b : a*b
mulp2(2,4)

8

In [92]:
import random

In [98]:
list = random.sample(range(1,50),20)
list

[15, 44, 13, 41, 2, 47, 18, 23, 31, 42, 10, 11, 3, 39, 8, 34, 20, 32, 26, 21]

In [99]:
#funcion
def impares (lst):
    impares = []
    for i in lst:
        if i % 2 != 0:
            impares.append(i)
    return impares

In [100]:
impares(list)

[15, 13, 41, 47, 23, 31, 11, 3, 39, 21]

In [103]:
#Lambda

list_ = [i for i in list if i % 2 != 0]

In [108]:
impares2 = lambda num: [i for i in list if i % 2 != 0]
impares2(list)

[15, 13, 41, 47, 23, 31, 11, 3, 39, 21]