In [1]:
import pandas as pd
import sqlalchemy as alch
from getpass import getpass

In [2]:
clientes = pd.read_csv('datos_clientes.csv', index_col = 0)
vehiculo = pd.read_csv('datos_vehiculos.csv', index_col = 0)
seguro = pd.read_csv('datos_seguro.csv', index_col = 0)

**ley para conectar SQL**

In [14]:
password = getpass('Contraseña de MySQL: ')

Contraseña de MySQL: ········

In [15]:
#almacenamos en base de datos

db_name = 'seguros'

conexion = f'mysql+pymysql://root{password}&localhost/{db_name}'

In [16]:
engine = alch.create_engine(conexion)

In [17]:
#insertamos datos en SQL

clientes.head(2)

,ID,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,MARRIED,CHILDREN,INCOME,POSTAL_CODE
0,569520,female,majority,0-9y,high school,0.0,1.0,upper class,10238
1,750365,male,majority,0-9y,none,0.0,0.0,poverty,10238

In [21]:
for index, row in clientes.iterrows():
    
    clien_id = engine.execute(f"""select idcliente from clientes where idcliente = "{fila['ID']}" """)
    
    if len (list(client_id)) > 0:
        pass #verificar si existe
        
    else:
        engine.execute(f"""
                INSERT INTO clientes (idclientes, genero, raza, experiencia, educacion, estado_civil, hijos, clase, codigo_postal) VALUES
                ("{row['ID']}",
                "{row['GENDER']}",
                "{row['RACE']}",
                "{row['DRIVING_EXPERIENCE']}", 
                "{row['EDUCATION']}",
                "{row['MARRIED']}",
                "{row['CHILDREN']}",
                "{row['INCOME']}",
                "{row['POSTAL_CODE']}");
        """)

NameError: name 'fila' is not defined

In [19]:
vehiculo.head()

   VEHICLE_OWNERSHIP VEHICLE_YEAR ID_VEHICULO      ID
0                1.0   after 2015  BZ1WE0LF2U  569520
1                0.0  before 2015  78GJYCA4LI  750365
2                1.0  before 2015  TG2JSADVLY  199901
3                1.0  before 2015  DB1O2IYHP4  478866
4                1.0  before 2015  RIZYYIZNVG  731664

**CASE - es como el IF**