In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
#SERIES - derivado de una única dimension. 
# indice y vector

#crear series

vector = np.array(range(1,10))
vector

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [3]:
serie = pd.Series(vector)
print(serie) #primera columna es indice y la seguna es los datos que he pasado. 
print(type(serie))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32
<class 'pandas.core.series.Series'>

In [4]:
serie2 = pd.Series(vector, index = [20,21,22,23,24,25,26,27,28]) #  .Series siempre mayuscula
serie2
#serie tiene una unica dimension

20    1
21    2
22    3
23    4
24    5
25    6
26    7
27    8
28    9
dtype: int32

In [5]:
lista = range(4,10)
lista

range(4, 10)

In [6]:
serie3 = pd.Series(lista)
serie3

0    4
1    5
2    6
3    7
4    8
5    9
dtype: int64

In [7]:
diccionario = {"chorizo": 2, "brocoli": 12, "jamon": 22, "berenjena": 18}

In [8]:
serie4 = pd.Series(diccionario)
serie4

chorizo       2
brocoli      12
jamon        22
berenjena    18
dtype: int64

In [9]:
serie4.index

Index(['chorizo', 'brocoli', 'jamon', 'berenjena'], dtype='object')

In [10]:
serie4.values

array([ 2, 12, 22, 18], dtype=int64)

In [11]:
serie4.shape

(4,)

In [12]:
serie4.size

4

In [13]:
#DATAFRAMES!!!!!!!!
#desde diccionario - más comun

diccionario2 = {"productos": ["brocoli", "chorizo", "queso"],
               "precio": [1.20, 23, 5.78], 
               "origen": ["madrid", "salamanca", "toledo"],
               "tipo": ["vegetal", "animal", "animal"]}

In [14]:
df1 = pd.DataFrame(diccionario2) #el indice siempre lo pasamos como una lista
df1

  productos  precio     origen     tipo
0   brocoli    1.20     madrid  vegetal
1   chorizo   23.00  salamanca   animal
2     queso    5.78     toledo   animal

In [15]:
#desde array
array = np.random.randint(1,90,(2,3))
array

array([[63, 78, 31],
       [12, 77, 87]])

In [16]:
array.ndim

2

In [17]:
df2 = pd.DataFrame(array, columns = [2012,2013,2014])
df2

   2012  2013  2014
0    63    78    31
1    12    77    87

In [18]:
#listas de listas !

listik = [1,2,3]

In [22]:
df3 = pd.DataFrame(listik, columns = ["año"])
df3

   año
0    1
1    2
2    3

In [23]:
listas = [[1,2,3], ["miguel", "monica", "fernando"]]

In [25]:
df4 = pd.DataFrame(listas)
df4.T

   0         1
0  1    miguel
1  2    monica
2  3  fernando

In [30]:
#CARGAR FICHEROS!

#CSV
df_csv = pd.read_csv("semana-4/datos/aire.csv") #la carpeta es en el mismo nivel. en caso de que estuviera fuera, igual. 
df_csv

FileNotFoundError: [Errno 2] No such file or directory: 'semana-4/datos/aire.csv'